.main-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.banner-container {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url();
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  padding-bottom: 10px;
  object-fit: cover;
}

.productos-destacados-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vw;
}

.box-destacados {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(43, 43, 43);
  color: var(--text-color);
}

.productos-destacados-container {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  max-width: 80vw;
  padding: 20px;
  position: relative;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  -ms-overflow-style: none;
}

.productos-destacados-container::-webkit-scrollbar {
  display: none;
}

.destacados-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  height: 100%;
  scroll-snap-align: start;  /* cada card hace snap */
  flex-shrink: 0;
  width: 350px;
}

.destacados-images {
  width: 100%;
  height: 450px;
  object-fit: scale-down;
  object-position: center;
  filter: drop-shadow(0px 0px 6px rgba(67, 221, 213, 0.8));
  border: 1px solid rgb(107, 107, 107);
}

.grid-categorias-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin-bottom: 30px;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.container-hero-card {
  border-bottom: 1px solid rgb(43, 43, 43);
  color: var(--text-color);
}

.container-hero-card:hover {
  border-bottom: 1px solid white;
  transition: 0.6s;
}

.imagen-box {
  width: 100%;
  height: 60vh;
  min-height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.imagen-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.imagen-box img:hover {
  transform: scale(1.05);
  transition: 0.6s ease-in;
}

.titulo-card {
  display: flex;
  align-items: center;
  height: 50px;
}



@media (max-width: 768px) {
  .destacados-card {
    gap: 1rem;
    width: 200px;
  }
  .destacados-images {
    height: 300px;
  }

  .grid-categorias {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
