.main-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.banner-container {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url();
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  padding-bottom: 10px;
  object-fit: cover;
}

.grid-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.container-hero-card {
  border-bottom: 1px solid rgb(43, 43, 43);
  color: var(--text-color);
}

.container-hero-card:hover {
  border-bottom: 1px solid white;
  transition: 0.6s;
}

.imagen-box {
  width: 100%;
  height: 650px;
  overflow: hidden;
  cursor: pointer;
}

.imagen-box img {
  width: 450px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.imagen-box img:hover {
  transform: scale(1.05);
  transition: 0.6s ease-in;
}

.titulo-card {
  display: flex;
  align-items: center;
  height: 50px;
}

.productos-destacados-section {
  height: 100vh; 
}

.box-destacados {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.productos-destacados-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.destacados-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}


.destacados-images {
  width: 450px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.home {
  background-color: black;
  color: white;
}
