<<<<<<< Updated upstream
.sneakers-container {
  display: flex;
  padding-top: 80px;
}

.asidebar-filter {
  height: 100vh;
  min-width: 300px;
  border-right: 1px solid rgb(70, 70, 70);
}

.title-filtros{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-categorias{
  padding: 0px 20px;
  padding-top: 40px;
}

.box-categorias{
border-bottom: 1px solid #ccc;
  padding: 10px 0;
  position: relative;
}
.icon {
  display: flex;
  transition: transform 0.3s ease;
}

.box-categorias[open] .icon {
  transform: rotate(180deg);
}
.summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.subcate{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: static;
}
.subcate label{
   display: flex;
  align-items: center;
  gap: 8px;
}


.grid-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.parent-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    height: 100vh;
    padding: 20px;
}

.sneakers-card {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
    
.img-sneakers-grid {
  width: 300px;
  height: 300px;
  filter: drop-shadow(0px 0px 6px rgba(67, 221, 213, 0.5));
  object-fit: cover ;
}

.titulo-sneakers {
  display: flex;
  align-items: center;
}

.descripcion-sneakers {
  display: flex;
  align-items: center;
}

.precio-sneakers {
  display: flex;
  align-items: center;
}
=======
>>>>>>> Stashed changes
