* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  background-color: black;
  text-decoration: none;
}

.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: black;
  box-shadow: 0px 5px 5px 0px rgba(82,82,82,0.75);
-webkit-box-shadow: 0px 5px 5px 0px rgba(82,82,82,0.75);
-moz-box-shadow: 0px 5px 5px 0px rgba(82,82,82,0.75);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.carrito-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-container {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grid-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.container-card {
  border-bottom: 1px solid rgb(43, 43, 43);
}

.container-card:hover {
  border-bottom: 1px solid white;
  transition: 0.6s;
}

.imagen-box {
  width: 100%;
  height: 650px;
  overflow: hidden;
  cursor: pointer;
}

.imagen-box img {
  width: 450px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.imagen-box img:hover{
  transform: scale(1.05);
  transition: 0.6s ease-in;
}

.titulo-card {
  display: flex;
  align-items: center;
  height: 50px;
}

.productos-destacados-container{
 height: 100vh;
 width: 100%;
 display: flex;
 justify-content: center;
}