* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
}

.nav-links {
  display: flex;
  gap: 20px; 
}

.carrito-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar ul,li {
  list-style: none;
  color: aliceblue;
}

.navbar a {
  color: white;
  text-decoration: none;
}
