:root {
    --primary-color: #0a0a0a;
    --text-color: #f0f0f0;
    --font-display: 'Bodoni Moda', serif;
    --font-body: 'Jost', sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: var(--primary-color);
    color: var(--text-color);
}