.sneakers-container {
  padding-top: 80px;
  display: flex;
}

.asidebar-filter-hitbox {
  height: 100vh;
  min-width: 300px;
  
}

.asidebar-filter {
  height: 100vh;
  width: 300px;
  border-right: 1px solid rgb(70, 70, 70);
  position: fixed;
  z-index: 100;
}

.title-filtros{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-categorias{
  padding: 0px 20px;
  padding-top: 40px;
}

.box-categorias{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.icon {
  display: flex;
}

.box-categorias[open] .icon {
  transform: rotate(180deg);
}

.summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.subcate{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: static;
}
.subcate label{
  display: flex;
  align-items: center;
  gap: 8px;
}


.grid-box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.grid-sneakers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
}

.sneakers-card {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
  width: 100%;
}

.img-sneakers-box {
  display: flex;
  justify-content: center;
  height: 30vh;
  box-sizing: border-box;
  padding-bottom: 10px; 
}

.img-sneakers-grid {
  max-height: none;
  width: 100%;
  filter: drop-shadow(0px 0px 6px rgba(67, 221, 213, 0.5));
  object-fit: cover;
  aspect-ratio: 1/1;
  overflow-clip-margin: content-box;
  overflow-x: clip;
  overflow-y: clip;
}

.titulo-sneakers {
  display: flex;
  align-items: center;
}

.descripcion-sneakers {
  display: flex;
  align-items: center;
}

.precio-sneakers {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  
  .asidebar-filter-hitbox {
    min-width: 200px;
  }

  .asidebar-filter {
    width: 200px;
  }
}

@media (max-width: 768px) {
  
  .asidebar-filter-hitbox {
    display: none;
  }

  .asidebar-filter {
    display: none;
  }

  .grid-sneakers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .img-sneakers-box {
    height: 150px;
  }
}